/* Import tailwindcss libery */
@import "tailwindcss";

:root {
  /* 
    Primary Color
    Use for: Logos, primary buttons, headers, highlights.
  */
  --color-primary: #B3511D;


  /* 
    Background 
    Use for: Page backgrounds, cards, soft sections.
  */
  --color-background: #F3EBDD;
  --color-background-2: #e6decf;
  /* 
    Text
    Use for: Body text, navigation, input labels.
  */
  --color-text: #4A3B30;
  --color-text-light: #fff;

  /* 
    Accent 
    Use for: Secondary buttons, tags, icons, eco/sustainability highlights.
  */
  --color-accent: #8A9A5B;

  /*
    Optional Contrast Accent
    Use for: Hover effects, alternate calls-to-action, footer backgrounds.
  */
  --color-contrast-accent: #59354A;
  /* 
    Hover 
    Use for: Button hover, focus states.
  */
  --color-hover: #8E3D12;

  /*********************
  *** FONTS FAMILIES ***
  *********************/
  --font-heading: 'Playfair Display', serif;
  --font-subheading: 'Cormorant Garamond', serif;
  --font-body: 'Lato', sans-serif;


  /********************
  ****** SPACING ******
  ********************/
  --small-spacing: 0.5rem;
  --base-spacing: 0.5rem;
  --large-spacing: 1rem;
  --huge-spacing: 2rem;

  --large-screen-max-width: 100%;
}

/* Uncomment to allow dark mode checking & theme selection based on computer user preference
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-text: #ededed;
  }
} */

/* Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  max-width: 1600px;
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--color-primary);
  text-transform: capitalize;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  text-shadow: 0 0 5px var(--color-text);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-family: var(--font-subheading);
  color: var(--color-contrast-accent);
}

p,
li,
a,
span {
  font-family: var(--font-body);
}

abbr {
  text-decoration: none;
}

/* Buttons */
button {
  font-family: var(--font-body);
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-hover);
}

button:active {
  transform: scale(0.9);
}

.buttons-holder {
  width: 100%;
  padding: var(--base-spacing);
  display: flex;
  background: none;
}


img {
  width: 100%;
  height: auto;
}

.inline-image {
  display: inline;
}

.inline-image-holder {
  width: 150px;
  height: 150px;
  display: inline-block;
  /* border-radius: 100%; */
  overflow: hidden;
}

svg {
  justify-self: center;
}

.shade {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
}

header {
  z-index: 2;
}


/* GENERAL FORM STYLING */
form>div {
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: var(--large-spacing);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: var(--base-spacing);
}

form>div section {
  margin: 0;
}

form>div input {
  width: 100%;
  border: 1px solid var(--color-primary);
  outline: none;
  font-size: 1em;
  text-transform: capitalize;
}

form>div input:focus,
form>div textarea:focus {
  border: 2px solid var(--color-accent);
}

form>div textarea {
  width: 100%;
  min-width: 250px;
  min-height: 200px;
  border: 1px solid var(--color-primary);
  padding: var(--base-spacing);
  border-radius: 5px;
  outline: none;
}

form>div textarea:hover {
  outline: none;
}

form>div input[type="radio"] {
  display: inline-block;
  width: fit-content;
  border: 1px solid var(--color-text);
  margin: 0 var(--base-spacing);
}

form>div input[type="radio"]:focus {
  border: 2px solid var(--color-primary);
}

input[type="search"],
select {
  padding: .5rem;
  border: 1px solid var(--color-hover);
  border-radius: 10px;
  max-width: 250px;
  width: fit-content;
}

.radio-btn-text {
  font-size: .9em;
}

.upload-btn,
.submit-btn {
  width: fit-content;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

select {
  text-transform: capitalize;
  border: 1px solid var(--color-primary);
  outline: none;
}

.submit-btn {
  margin: 0 auto;
  min-width: 80%;
  margin-top: var(--base-spacing);
  display: block;
  text-align: center;
}

.sub-submit-btn {
  margin-top: 0;
}

.submit-btn>* {
  display: inline-block;
  width: fit-content;
}

/* HEADER STYLING */
.nav-icon {
  width: 100%;
}

.log-header-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-header-photo-holder {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}

/* GENERAL STYLING */
.display-empty {
  width: 100%;
  text-align: center;

}

.childMain {
  min-height: 90vh;
}

.hero-section {
  width: 100%;
  max-height: 720px;
  /* background-color: blue; */
  overflow: hidden;
  display: grid;
}

.hero-section>* {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.hero-text-holder {
  display: block;
  justify-items: center;
}

.hero-title {
  /* font-size: 2.5em; */
  color: var(--color-text-light);
  text-transform: capitalize;
  text-align: center;
}

main section {
  margin-top: var(--large-spacing);
  padding: var(--base-spacing);
}

.slide-cards-container {
  width: 100%;
  display: grid;
  gap: var(--base-spacing);
  overflow-x: auto;
  scrollbar-width: none;
}

.slide-cards-container>* {
  grid-row: 1/2;
}

.cardTag {
  /* border: 1px solid var(--color-primary); */
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: var(--small-spacing);
  width: fit-content;
  height: fit-content;
  margin-right: var(--base-spacing);
  display: inline-block;
}

.cardTagsHolder {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.contacts-holder {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


/* COLLECTION STYLING START */
.collectionHolder {
  width: 350px;
  height: auto;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: var(--small-spacing);
  display: grid;
}

.collectionHolder>* {
  grid-column: 1/2;
  grid-row: 1/2;
}

.collectionDetailHolder {
  padding: var(--base-spacing);
}

.collectionDetailHolder .image-holder {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-content: center;
  background: var(--color-background-2);
}

.collectionDetailHolder a {
  display: block;
  margin: var(--large-spacing) 0;
}

/* COLLECTION STYLING END */

/****************************
*** ARTISAN STYLING START ***
****************************/
/* Artisan Card Styling */
.artisanHolder {
  width: 350px;
  min-height: 420px;
  height: auto;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: var(--small-spacing);
  display: grid;
}

.artisanHolder>* {
  grid-column: 1/2;
  grid-row: 1/2;
}

.artisanDetailHolder {
  height: 100%;
  margin: var(--small-spacing);
  padding: var(--base-spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background-2);
}

.artisanDetailHolder .image-holder {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid var(--color-primary);
  overflow: hidden;
  display: block;
  justify-self: center;
  align-self: center;
  align-content: center;
  background-color: var(--color-contrast-accent);
}

.artisanDetailHolder h3 {
  text-transform: capitalize;
  /* color: var(--color-text-light); */
}

.artisanDetailHolder .artisan-features-holder {
  display: grid;
}

.artisanDetailHolder section {
  margin: 0;
  justify-self: center;
  align-self: center;
}

.artisanDetailHolder .about-section-holder {
  grid-column: 1/3;
}

/*** ARTISAN PROFILE STYLING ***/
.artisan-profile-header {
  height: 40vh;
  display: grid;
}

.artisan-photo-holder {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border: 1px solid var(--color-background);
}

.artisan-title-holder {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: fit-content;
  padding: var(--base-spacing);
  justify-self: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.artisan-title {
  text-shadow: 0 0 1px var(--color-primary);
  color: var(--color-text-light);
}

.profile-interactive-space-holder {
  padding: var(--base-spacing);
  display: grid;
  grid-template-columns: auto auto;
  column-gap: var(--base-spacing);
}

.profile-interactive-space-holder select {
  justify-self: self-end;
}

.add-product-btn-holder {
  padding: var(--base-spacing);
}

.products-holder {
  padding: var(--base-spacing);
}


.product-buttons-holder {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  /* background-color: yellowgreen; */
  align-content: center;
  align-items: center;
}

.product-buttons-holder span {
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 1.5em;
}

.product-buttons-holder span svg {
  display: inline-block;
  color: var(--color-accent);
}

/*** ARTISAN STYLING END */


/****************************
*** PRODUCT STYLING START ***
****************************/
.productHolder {
  width: 350px;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: var(--small-spacing);
  display: grid;
}

.productHolder>* {
  grid-column: 1/2;
  grid-row: 1/2;
}

.productDetailHolder {
  padding: var(--base-spacing);
}

.productDetailHolder .image-holder {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-content: center;
  background: var(--color-background-2);
}

.productDetailHolder a {
  display: block;
  margin: var(--large-spacing) 0;
}

/* PRODUCT STYLING END */


/******************************
*** DEVELOPER STYLING START ***
******************************/
/* Developer Card Styling */
.devHolder {
  width: 350px;
  height: auto;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: var(--small-spacing);
  display: grid;
}

.devHolder>* {
  grid-column: 1/2;
  grid-row: 1/2;
}

.devDetailHolder {
  margin: var(--small-spacing);
  padding: var(--base-spacing);
  display: grid;
  background-color: var(--color-background-2);
}

.devDetailHolder .image-holder {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 1px solid var(--color-primary);
  display: block;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.devDetailHolder h3 {
  text-transform: capitalize;
  /* color: var(--color-text-light); */
}

.devDetailHolder section {
  margin: 0;
  justify-self: center;
  align-self: center;
}


/******************************
**** PROFILE STYLING START ****
******************************/
.artisans-profiles-holder,
.products-holder {
  display: grid;
  padding: var(--base-spacing);
  gap: var(--base-spacing);
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  background: none;
}


/****************************************
*** PRODUCT DETAIL PAGE STYLING START ***
****************************************/
.product-detail-page-main-holder {
  padding: var(--base-spacing);
}

.product-detail-page-main-holder .title {
  font-weight: 400;
}

.product-detail-page-main-holder p {
  padding: var(--base-spacing);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.product-detail-page-main-holder .product-name {
  width: 100%;
  max-width: var(--large-screen-max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.product-detail-page-main-holder .product-gallery-holder {
  background: none;
  padding: var(--base-padding);
  max-width: var(--large-screen-max-width);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
}

.product-detail-page-main-holder .price-tag {
  background-color: var(--color-hover);
  z-index: 1;
}

.gallery-main-display-holder {
  background: none;
}

.gallery-nav-btn {
  background-color: rgba(0, 0, 0, 0.25);
}

.gallery-thumbnails-holder {
  width: fit-content;
  display: flex;
  justify-self: center;
  overflow: auto;
  scrollbar-width: thin;
}

.gallery-thumbnails-holder>* {
  grid-row: 1/2;
  width: 100px;
}

.product-interactive-buttons-holder {
  max-width: var(--large-screen-max-width);
  display: flex;
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  justify-content: space-between;
}

.buy-product-btn {
  background-color: var(--color-accent);
  height: 100%;
}

.buy-product-btn:hover {
  background-color: rgb(85, 143, 85);
}

.rating-buttons-holder {
  display: flex;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  width: fit-content;
}

.rating-btn {
  width: fit-content;
  display: flex;
  gap: .5rem;
  background: none;
  color: var(--color-text);
  font-weight: bold;
  font-size: 1.6em;
  align-content: center;
  align-items: center;
}

.rating-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

/* Add Product Comment Styling */
.add-comment-outer-holder {
  margin-top: var(--base-spacing);
}

.add-comment-holder {
  border: none;
  margin-top: var(--large-spacing);
}

.add-comment-holder form {
  width: 100%;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.add-comment-holder div {
  border: none;
  margin-bottom: 0;
}

.add-comment-holder form button {
  width: fit-content;
  height: fit-content;
}

/* Product Comments Display Styling */
.product-comments-holder {
  display: grid;
  gap: var(--large-spacing);
  max-height: 70vh;
  overflow: auto;
  scrollbar-width: thin;
}

.comment-holder {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 100%;
  width: fit-content;
  box-shadow: 0 0 2px var(--color-contrast-accent);
  border-radius: 5px;
  padding: var(--base-spacing);
  gap: var(--base-spacing);
}

.comment-holder .comment-image-holder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.comment-holder .comment-detail-holder {
  font-family: var(--font-body);
}

.comment-detail-holder .commenter-name {
  font-weight: 300;
  font-size: 1.3em;
  text-transform: capitalize;
}

.comment-detail-holder .comment-box {

}

.comment-detail-holder .comment-date {
  font-style: italic;
  opacity: .9;
  font-size: .8em;
}



/* END PRODUCT DETAIL PAGE STYLING */

/* FOOTER STYLING */
.footer-logo {
  width: auto;
}

/**************************************
**** LARGER SCREEN VERSION STYLING ****
**************************************/
@media screen and (min-width: 500px) {
  * {
    --base-spacing: 1rem;
    --large-spacing: var(--huge-spacing);
  }

  body {
    max-width: 1600px;
    margin: auto;
    box-shadow: 0 0 10px var(--accent-1);
    font-size: 18px;
  }

  /* GENERAL FORM STYLING */
  form>div {
    min-width: 450px;
  }

  .hero-title {
    /* font-size: 2.5em; */
    color: var(--color-text-light);
    text-transform: capitalize;
    text-align: center;
    margin-top: 15%;
  }

  /* COLLECTION STYLING START */
  .collectionHolder {
    width: 450px;
  }

  /****************************
  *** ARTISAN STYLING START ***
  ****************************/
  /* Artisan Card Styling */
  .artisanHolder {
    width: 450px;
  }

  /*** ARTISAN PROFILE STYLING ***/
  .artisan-profile-header {
    height: 40vh;
    grid-template-columns: auto 1fr;
  }

  .artisan-photo-holder {
    width: 180px;
    height: 180px;
    margin: var(--base-spacing);
    display: grid;
    align-content: center;
  }


  /* COLLECTION STYLING START */
  .productHolder {
    /* width: 450px; */
    width: 400px;
  }

  /******************************
  *** DEVELOPER STYLING START ***
  ******************************/
  /* Developer Card Styling */
  .devHolder {
    width: 450px;
  }


  /****************************************
  *** PRODUCT DETAIL PAGE STYLING START ***
  ****************************************/
  .product-detail-page-main-holder .product-gallery-holder {
    background: #f5e9d6;
    padding: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid #e0d2ba;
  }

  .gallery-nav-btn {
    background-color: var(--color-primary);
  }

  .gallery-nav-btn:hover {
    background-color: var(--color-hover);
  }

  .gallery-thumbnails-holder>* {
    width: 150px;
  }
}